.img-circle{
    border-radius: 180px;
}
.img-max{
    max-width: 175%;
}



#section-9{
    max-height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*.......................................................
Our Brand Section
........................................................*/
/*New our brand partners*/

.section-header{
    margin-bottom: 44px;
    margin-top: 10px;
}

 .section-header h3 {
     font-size: 36px;
     font-family: 'Barlow';
     color: #283d50;
     text-align: center;
     font-weight: 600;
     position: relative
 }

 .section-header p {
     font-family: 'Barlow';
     text-align: center;
     margin: auto;
     font-size: 15px;
     padding-bottom: 60px;
     color: #556877;
     width: 50%
 }

 #clients {
     padding: 170px 0;
         margin-top: 35px;
 }

 #clients .clients-wrap {
    /* border-top: 1px solid #d6eaff;
     border-left: 1px solid #d6eaff;*/
     margin-bottom: 30px
 }

 #clients .client-logo {
     padding: 64px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     /*border-right: 1px solid #d6eaff;
     border-bottom: 1px solid #d6eaff;*/
     overflow: hidden;
     background: #fff;
     height: 160px
 }

 #clients img {
     transition: all 0.4s ease-in-out
 }

/*------------Contact Page-------------*/

.container h1 {
    text-align: center;
    font-family: 'Barlow';
    margin-top: 100px;
    margin-bottom: 51px;
}

#contact-form{
    margin-top: 0px;
}
.contact {
	margin-top: 80px;
}

.form-control {
	background-color: #fff;
	border-radius: 2px;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	border: none;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 40px;
}

.message {
	background-color: #fff;
	border-radius: 2px;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	border: none;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 100px;
}

.bttn {
	background-color: pink;
	color: #fff;
	transition: .8s;
    font-family: 'Barlow';
	line-height: 50%;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 35px;
}

.bttn:hover {
	background-color: #fff;
	color: black;
	border: 1px solid #11224d;
	border-radius: 5px;
	text-transform: uppercase;
}
.contact{
    margin-top: 150px;
}
/*..........................................
    Footer Section
    ..........................................*/

.footer {
    margin-top: 220px;
    background-color:white;
    background-size: cover;
    
}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.first2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.first h4 {
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 1.55rem;
    color: black;
    padding-bottom: 0.5em;
}

    .first h4::after {
        content: '';
        background-color: antiquewhite;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.first li {
        list-style: none;
    padding-bottom: 15px;
    margin-top: -6px;
}

.first a, .first2 a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s;
}

    .first a:hover, .first2 a:hover {
         color: darkgoldenrod;
        transition: 0.2s;
        text-decoration: none


    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
        margin-left: 30px;
    font-size: 1.55rem;
    color: black;
    padding-bottom: 0.5em;
}

    .second h4::after {
        content: '';
        background-color: antiquewhite;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
   padding-bottom: 15px;
}

.second a, .second2 a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
         color: darkgoldenrod;
        transition: 0.2s;
        text-decoration: none


    }

.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.third2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.third h4 {
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
        margin-left: 30px;
    font-size: 1.55rem;
    color: black;
    padding-bottom: 0.5em;
}

    .third h4::after {
        content: '';
        background-color: antiquewhite;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.third li {
    list-style: none;
    padding-bottom: 15px;
}

.third a, .third2 a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s;
}

    .third a:hover, .third2 a:hover {
       color: darkgoldenrod;
        transition: 0.2s;
        text-decoration: none


    }

.fourth {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.fourth2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.fourth h4 {
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
        margin-left: 30px;
    font-size: 1.55rem;
    color: black;
    padding-bottom: 0.5em;
}

    .fourth h4::after {
        content: '';
        background-color: antiquewhite;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.fourth li {
    list-style: none;
   padding-bottom: 15px;
}

.fourth a, .second2 a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s;
}

    .fourth a:hover, .second2 a:hover {
        color: darkgoldenrod;
        transition: 0.2s;
        text-decoration: none

    }



@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color: darkgray;
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}


